<!DOCTYPE html>
<html lang='zh-cn'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>在线相册</title>

    <!-- Bootstrap -->
    <link href='/css/bootstrap.css' rel='stylesheet'>

    <!--[if lt IE 9]>
    <script src='/js/html5shiv.min.js'></script>
    <script src='/js/respond.min.js'></script>
    <![endif]-->

    <style>
        .items{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
            justify-content: flex-start;
            /* background: #ccc; */
        }
        .item{
            width: 150px;
            height: 200px;
            text-align: center;
            margin: 0 5px;
            position: relative;
            /* padding: 20px; */

        }
        .item img{
            width: 100%;
        }
        .items .item>span{
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
        }
        .item:hover span{
            display: block;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">在线相册</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/pic/upload">上传图片 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/album/create">新建相册</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 展示区 -->
    <div class="items">
        <% for(var i=0;i<imgs.length;i++){ %>
        <div class="item">
            <a href="/<%= dirName %>/<%= imgs[i] %>">
                <img src="/<%= dirName %>/<%= imgs[i] %>">
            </a>
            <span class="glyphicon glyphicon-remove del"></span>
        </div>
        <% } %>
    </div>


    <script src='/js/jquery.min.js'></script>
    <script src='/js/bootstrap.js'></script>
    <script>
        $(".del").on("click",function(){
            var dirName = $(this).prev().attr("href");
            // console.log(dirName.slice(1,dirName.lastIndexOf("/")));
            $.ajax({
                url:"/pic/deletepic",
                data:{dirName:dirName},
                method:"post",
                success:function(res){
                    if(res.status!=0){
                        alert("删除失败");
                        return;
                    }
                    location.href="/pic/show?dirName="+dirName.slice(1,dirName.lastIndexOf("/"))
                }
            })
        })
    </script>
   
</body>

</html>